.accordeon__title {
  margin: 0;
  margin-bottom: 20px;
  display: block;
  font-family: $main-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-dark-blue;

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 27px;
    cursor: pointer;
  }
}

.accordeon__checkbox {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.accordeon__button {
  display: none;

  @media (max-width: $mobile-width) {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 28px;
    right: 2px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background: none;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #C4C4C4;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.accordeon__container {
  @media (max-width: $mobile-width) {
    height: 0;
    position: relative;
    overflow: hidden;
  }
}

.accordeon__content {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 5px;
  list-style: none;
}

.accordeon__content--colums-2 {
  column-count: 2;

  @media (max-width: $tablet-width) {
    column-count: 1;
  }
}

.accordeon__item {
  min-width: 195px;
  max-width: 340px;
}

.accordeon__item a {
  color: inherit;

  &:focus,
  &:hover {
    transition: color 0.2s ease-out;
    color: $color-accent;
  }
}

.accordeon--nojs .accordeon__button {
  display: none;
}

.accordeon--nojs .accordeon__container {
  @media (max-width: $mobile-width) {
    height: 100%;
  }
}

.accordeon__active .accordeon__button {
  @media (max-width: $mobile-width) {
    &::after {
      height: 0;
    }
  }
}

.accordeon__active .accordeon__container {
  @media (max-width: $mobile-width) {
    height: 100%;
  }
}
