.button {
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: $main-font;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $color-accent;
  border-radius: 5px;
  color: $color-white;
  background-color: $color-accent;
  outline: none;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    background-color: transparent;
    border: 1px solid $color-white;
  }
}

.button--second {
  background-color: transparent;
  border: 1px solid $color-white;
  font-size: 14px;
  line-height: 16px;

  &:focus,
  &:hover,
  &:active {
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    background-color: $color-accent;
    border-color: $color-accent;
  }
}
