.button {
  margin: 0;
  padding: 10px 20px;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: $main-font;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $color-accent;
  border-radius: 5px;
  color: $color-white;
  background-color: $color-accent;
  outline: none;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    background-color: transparent;
    border: 1px solid $color-white;
    transition:
      background-color 0.2s ease-out,
      border-color 0.2s ease-out;
  }
}

.button--second,
.button--third {
  min-width: 180px;
  min-height: 45px;
  font-size: 14px;
  line-height: 16px;
}

.button--second {
  background-color: transparent;
  border: 1px solid $color-white;

  &:focus,
  &:hover,
  &:active {
    background-color: $color-accent;
    border-color: $color-accent;
    transition:
      background-color 0.2s ease-out,
      border-color 0.2s ease-out;
  }
}

.button--third {
  color: $color-accent;
  background-color: transparent;

  &:focus,
  &:hover,
  &:active {
    color: $color-white;
    background-color: $color-accent;
    border-color: $color-accent;
    transition:
      background-color 0.2s ease-out,
      border-color 0.2s ease-out,
      color 0.2s ease-out;
  }
}
