.container {
  min-width: $desktop-width;
  margin: 0 auto;
  padding: 0 $desktop-padding;

  @media (max-width: $tablet-width) {
    max-width: $tablet-width;
    min-width: none;
    padding: 0 $tablet-padding;
  }

  @media (max-width: $mobile-width) {
    padding: 0 $mobile-padding;
  }
}
