.greeting {
  min-height: 878px;
  background-image: url("../img/background-wave-desktop@1x.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: $color-background;
  color: $color-white;
  overflow-x: hidden;

  @supports (background: url("../img/background-wave-desktop@1x.webp")) {
    background-image: url("../img/background-wave-desktop@1x.webp");
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/background-wave-desktop@2x.png");

    @supports (background: url("../img/background-wave-desktop@2x.webp")) {
      background-image: url("../img/background-wave-desktop@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 686px;
  }

  @media (max-width: $mobile-width) {
    min-height: 647px;
  }
}

.greeting__inner {
  padding-top: 266px;
  padding-right: 650px;
  padding-bottom: 50px;
  min-height: 878px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;

  @media (max-width: $tablet-width) {
    padding-top: 138px;
    padding-right: 250px;
    min-height: 686px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 $mobile-padding;
    padding-top: 236px;
    padding-left: 18px;
    min-height: 647px;
  }
}

.greeting h2 {
  margin-top: 49px;
  margin-bottom: 5px;
  margin-left: -3px;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-bottom: 12px;
    padding-left: 65px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    font-size: 40px;
    line-height: 47px;
  }
}

.greeting p {
  margin-bottom: 44px;
  padding-left: 95px;
  max-width: 718px;
  position: relative;
  font-family: $second-font;
  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 66px;
    height: 2px;
    top: 17px;
    left: 1px;
    background-color: $color-white;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 55px;
    padding-left: 114px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
      top: 16px;
      left: 66px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
    padding-left: 48px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
      left: 0;
    }
  }
}

.greeting__button {
  max-width: 407px;
  margin-left: 95px;
  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    max-width: 379px;
    margin-left: 114px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.greeting__button-text-desktop {
  display: block;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.greeting__button-text-mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.greeting__image {
  position: absolute;
  top: 258px;
  right: -63px;
  z-index: -10;

  &::before {
    content: "";
    position: absolute;
    top: -140px;
    right: 42px;
    display: block;
    width: 671px;
    height: 641px;
    background-image: url('../img/decore-triangle-3.svg');
    z-index: -15;
  }

  @media (max-width: $tablet-width) {
    width: 465px;
    height: 340px;
    top: 113px;
    right: -205px;

    &::before {
      background-size: 529px 503px;
      width: 529px;
      height: 503px;
      top: -152px;
      right: 7px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 301px;
    height: 220px;
    top: 92px;
    right: -7px;

    &::before {
      background-size: 505px 480px;
      width: 505px;
      height: 480px;
      top: -137px;
      right: -329px;
    }
  }
}

.greeting__scroll-button {
  position: absolute;
  padding: 10px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
  left: -36px;
  bottom: 117px;
  cursor: pointer;
  color: $color-white-a50;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
