.modal-form {
  font-weight: normal;
  font-family: $second-font;
  font-size: 16px;
  line-height: 22px;
  z-index: 10;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}

.modal-form form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.modal-form__item {
  width: 270px;
}

.modal-form__message {
  width: 570px;
}

.modal-form__item,
.modal-form__message {
  margin-bottom: 30px;
  flex-grow: 1;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.modal-form input,
.modal-form textarea {
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background-color: $color-accent-light;
}

.modal-form input {
  padding-left: 23px;
  height: 52px;

  @media (max-width: $tablet-width) {
    height: 52px;
  }
}

.modal-form textarea {
  padding: 10px 16px;
  padding-left: 23px;
  height: 104px;
  resize: none;

  @media (max-width: $tablet-width) {
    height: 160px;
  }

  @media (max-width: $mobile-width) {
    height: 104px;
  }
}

.modal-form__item input::placeholder,
.modal-form__message textarea::placeholder {
  opacity: 1;
  color: $color-white;
}

.modal-form__footer {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width) {
    max-width: 290px;
    flex-direction: column;
    align-items: center;
  }
}

.modal-form__button {
  margin-bottom: 28px;
  margin-right: 0;
  max-width: 410px;
  width: 100%;
  order: -1;

  &:hover {
    background-color: $color-white-a20;
  }

  @media (max-width: $tablet-width) {
    max-width: 280px;
    margin-right: 71px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.modal-form__item-checkbox {
  margin-top: 6px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: $color-white-a80;
}

.modal-form__item-checkbox label {
  padding-right: 20px;
  padding-left: 45px;
  display: block;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: -1px;
    border: 1px solid $color-white;

    @media (max-width: $mobile-width) {
      left: 0;
    }
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 9px;
    height: 6px;
    top: 7px;
    left: 3px;
    background-image: url("../img/icon/icon-check.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      left: 4px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 35px;
  }
}

.modal-form__checkbox {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal-form__checkbox:checked + label {

  &::after {
    display: block;
  }
}

.modal-form__checkbox:focus + label::before {
  outline: auto;
}
