.products-slider {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.products-slider__inner {
  position: relative;
}

.products-slider__inner > h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-grey;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.products-slider__link-all {
  margin-bottom: 15px;
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: $color-accent;
}

.products-slider__wrapper {
  padding-top: 40px;
  padding-bottom: 15px;
}

.products-slider__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.products-slider__item {
  margin-right: 30px;
  width: calc(25% - 22.5px);

  @media (max-width: $tablet-width) {
    margin-right: 25px;
    width: calc(50% - 12.5px);
  }

  @media (max-width: $mobile-width) {
    margin-right: 15px;
    width: calc(50% - 7.5px);
  }
}

.products-slider__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $color-white;
  background-color: $color-accent;
}

.products-slider__card:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.products-slider__picture {
  height: 240px;
  background-color: $color-dark-blue;

  @media (max-width: $tablet-width) {
    height: 300px;
  }

  @media (max-width: $mobile-width) {
    height: 160px;
  }
}

.products-slider__card img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
}

.products-slider__card:hover img {
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}

.products-slider__card h3 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.products-slider__card p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.products-slider__button-prev,
.products-slider__button-next {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 40px;
  border: none;
  border-radius: 0;
  background-image: url('../img/icon/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-color: $color-accent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-size: 16px;
    transition: background-size 0.2s ease;
  }
}

.products-slider__button-prev {
  left: $desktop-padding;
  transform: rotate(180deg);
}

.products-slider__button-next {
  right: $desktop-padding;
}

.products-slider__pagination,
.products-slider__counter {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  color: $color-grey;
}

.products-slider__pagination {
  display: block;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.products-slider__counter {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.products-slider__counter-current,
.products-slider__counter-total {
  margin: 0 10px;
  display: inline-block;
}

.products-slider__bullet {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.products-slider__bullet:hover {
  transition: color 0.2s ease-out;
  color: $color-accent;
}

.products-slider__bullet-active {
  transition: color 0.2s ease-out;
  color: $color-accent;
}
