.social {
  color: $color-grey-light;
}

.social__list {
  margin: 0;
  padding: 0;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @media (max-width: $tablet-width) {
    max-width: 112px;
  }

  @media (max-width: $mobile-width) {
    max-width: none;
    justify-content: center;
  }
}

.social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width) {

    &:nth-child(3n) {
      margin-right: 15px;
    }
  }
}

.social__item a {
  color: inherit;

  &:focus,
  &:hover {
    transition: color 0.2s ease-out;
    color: $color-accent;
  }
}
