.social {

}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social__item a {
  color: inherit;

  &:focus,
  &:hover {
    transition: color 0.2s ease-out;
    color: $color-accent;
  }
}
