// Цвета
$color-accent-light: #19BAFF;
$color-accent: #00b2ff;
$color-accent-hover: rgb(34, 121, 159);
$color-black: rgb(0, 0, 0);
$color-black-a50: rgba(0, 0, 0, 0.5);
$color-dark-blue: rgb(27, 45, 55);
$color-dark-blue-a50: rgba(27, 45, 55, 0.5);
$color-white: rgb(255, 255, 255);
$color-white-a10: rgba(255, 255, 255, 0.1);
$color-white-a20: rgba(255, 255, 255, 0.2);
$color-white-a50: rgba(255, 255, 255, 0.5);
$color-white-a80: rgba(255, 255, 255, 0.8);
$color-grey-light: rgb(205, 205, 205);
$color-grey: rgb(102, 102, 102);
$color-grey-a20: rgba(98, 105, 98, 0.2);
$color-background: rgb(27, 45, 55);

// Отступы
$mobile-padding: 15px;
$tablet-padding: 25px;
$desktop-padding: 25px;

// Размеры вьюпорта
$mobile-width: 767.8px;
$tablet-width: 1023.8px;
$desktop-width: 1024px;

$container: 1220px;

$additional-container: 1440px; // 1414px??
$additional-padding: 12px;


// Шрифты
$main-font: "Roboto Condensed", "Roboto", "Arial", sans-serif;
$second-font: "PT Mono", "Courier New", monospace;

// Для ретинизации
$retina-dppx: 1.5dppx;
